@use "./base.scss";

// put your custom CSS here!
img[alt*="left"] {
  float: left;
  width: 50%;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

img[alt*="right"] {
  float: right;
  width: 50%;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.clear {
  clear: both;
  display: block;
}
